@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background: #1E1E1E;
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button{
    border: none;
}
.container{
    max-width: 1440px;
    margin: auto;
}

/* navigation */
nav{

    padding:  10px;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    font-size: 35px;
}
nav a{  
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    padding: 25px;
    transition: 300ms ease;
}
nav a:hover{  
    
    color: #b7b4b4;
}
.logo{
    font-size: 40px;
    font-weight: 600;
}

/* header */

header{
    background-image: url("./images/main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
h1{
    color: #000;
    font-size: 84px;    
    font-weight: 600;
    margin-bottom: 70px;
}
.main-header_link{
    color: #000;
    font-size: 36px;
    font-weight: 500;
    border-radius: 50px;
    background: #EFD6D6;
    text-decoration: none;
    padding: 22px;
    text-align: center;
    display: flex;
}
.main-header{
    border-radius: 25px;
    /* background-image: url('./images/bg_main.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain; */
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    flex-direction: column;
    padding-top: 15px;
    padding-right: 5%;
}
.main-header ul{
    font-size: 28px;
    margin-bottom: 30px;
}
/* tabs */
.types{
    margin-top: 90px;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.tabs li{
    padding: 22px;
    border-radius: 50px;
    background: #EFD6D6;
    color: #000;
    text-align: center;
    font-size: 37px;
    font-weight: 500;
    cursor: pointer;
}
.tabs-content  li{
    display: none;
    flex-direction: column;
    color: #D9D9D9;
    font-size: 28px;
}
.tabs-content li.active{
    display: flex;

}
.tabs li.active{
    position: relative;
}
.tabs li.active::after{
   content: '';
   background-image: url('./images/active.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    bottom: -50px;
    height: 10px;
    left: 0;
  

}
.tabs-content .text{
    margin-top: 60px;
}
h2{
    color: #FFF;
    margin-bottom: 70px;
    font-size: 66px;
    font-weight: 500;
}
/* slider */
.latest{
    margin-top: 150px;
    overflow: hidden;
}
h3{
    color: #fff;
    font-size: 30px;
}
.preveiw{
    color: #fff;
}
.latest .swiper-slide{
    background-color: #f878900b;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .latest img{
        width: 100%;
        height: 350px;
        object-fit: contain;
        object-position: center;
        border-radius: 25px;
    }
.latest .swiper{
    overflow: visible;
}
    .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
    }
/* about */
#about{
    margin-top: 150px;
}
#about img{
    max-width:30%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
#about .container{
    display: flex;
    align-items: flex-start;
    column-gap: 100px;
    flex-wrap: wrap;
}
#about h2{
    width: 100%;
}

#about .wrapper{
    width: calc(70% - 100px);
    color: #fff;
}
#about h3{
    margin-top: 0;
}
/* form */
.form{
    margin-top: 200px;
    margin-bottom: 150px;
}
form{
    display: flex;
    flex-direction: column;
    

}
form input{

    background: none;
    outline: none;
    border: none;
    border-bottom: solid 1px #D5D5D5;
    color: #EFD6D6;
    font-size: 34px;
    font-weight: 500;
    padding: 23px;
    transition: ease 0.3s;
    flex-grow: 2;
}
form input::placeholder{
    color: #EFD6D6;
    font-size: 34px;
    font-weight: 500;
}
 

.form h2{
        text-align: center;
        color: #EFD6D6;
        font-size: 105px;
        font-weight: 500;
    }
    
    /*  */

.label-before, .field input:valid + label::before, .field input:focus + label::before {
        line-height: 20px;
        font-size: 12px;
        top: -10px;
        background: #1E1E1E;
        padding: 0 6px;
        left: 9px;
      }
.field {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        
      }
.field label::before {
        content: attr(title);
        position: absolute;
        top: 0;
        left: 15px;
        line-height: 40px;
        font-size: 34px;
        color: #777;
        transition: 300ms all;
        transform: translateY(50%);
      }
 
.field input:focus {
        outline: 0;
        border-color: #b1b1b1;
      }
.field input:valid + label::before {
        content: attr(data-title);
      }
.field input:focus + label::before {
        color: #EFD6D6;
      }
      
/*  */
.form button{
    background: #EFD6D6;
    color: #000;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 90px;
    border-radius: 50px;
    margin: auto;
    margin-top: 90px;

}
    /* to top */
.totop{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: #F8788F;
        position: fixed;
        right: 20px;
        bottom: 20px;
        transition: 300ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 3px 3px 15px #000000a2;
    }
.totop img{
        width: 50%;
    }

footer{
        margin-top: 90px;
        background: #EFD6D6;
        padding: 50px 0;
        
    }
footer a{
        text-decoration: none;
        color: #000;
        font-size: 30px;
        font-weight: 700;
    }
footer .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }