@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background: #1E1E1E;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container{
    max-width: 1440px;
    margin: auto;
}

/* navigation */
nav{
   
    /* background-color: #1E1E1E; */
    padding:  10px;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    font-size: 35px;
}
nav a{  
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    padding: 25px;
    transition: 300ms ease;
}
nav a:hover{  
    
    color: #b7b4b4;
}
.logo{
    font-size: 40px;
    font-weight: 600;
}

/* header */

header{
    background-image: url("./images/main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
h1{
    color: #000;
    font-size: 84px;    
    font-weight: 600;
    margin-bottom: 70px;
}
.main-header_link{
    color: #000;
    font-size: 36px;
    font-weight: 500;
    border-radius: 50px;
    background: #EFD6D6;
    text-decoration: none;
    padding: 22px;
    text-align: center;
    display: flex;
}
.main-header{
    border-radius: 25px;
    background-image: url('./images/bg_main.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 15px;
}

/* tabs */
.types{
    margin-top: 90px;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.tabs li{
    padding: 22px;
    border-radius: 50px;
    background: #EFD6D6;
    color: #000;
    text-align: center;
    font-size: 37px;
    font-weight: 500;
    cursor: pointer;
}
.tabs-content  li{
    display: none;
    flex-direction: column;
    color: #D9D9D9;
    font-size: 28px;
}
.tabs-content li.active{
    display: flex;

}
.tabs li.active{
    position: relative;
}
.tabs li.active::after{
   content: '';
   background-image: url('./images/active.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    bottom: -50px;
    height: 10px;
    left: 0;
  

}
.tabs-content .text{
    margin-top: 60px;
}
h2{
    color: #FFF;
    margin-bottom: 70px;
    font-size: 66px;
    font-weight: 500;
}
/* form */
form{
    display: flex;
    flex-direction: column;

}
form input{

    background: none;
    outline: none;
}
.form h2{
        text-align: center;
        color: #EFD6D6;
        font-size: 105px;
        font-weight: 500;
    }
